.button {
    background-color: var(--primary-dark-20);
    color: var(--white);
    border-radius: 999px;
    font-weight: bold;
    border: none;
    padding: 0.5em 1.5em;
    cursor: pointer;
    transition: background-color 0.2s;
    font-size: 1.5rem;
}

.button:hover {
    background-color: var(--primary);
}

.button:active {
    background-color: var(--primary-dark-50);
}