.overpage {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  z-index: 500;
}

.overpage .icon-button {
  position: absolute;
  bottom: 60px;
  right: 50px;
  pointer-events: auto;
}