.menu-closed {
    width: var(--width-menu-desktop-closed);
    max-width: var(--width-menu-desktop-closed);

    display: flex;
    flex-direction: column;
}

.menu-open {
    width: var(--width-menu-desktop-open);
    max-width: var(--width-menu-desktop-open);

    display: flex;
    flex-direction: column;
}

.menu-pages {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0.5rem;
    gap: 1rem;
}

.menu-settings {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
    margin-top: auto;
}

.button-nav {
    background-color: var(--blue);
    width: 36px;
    height: 36px;
    max-width: 36px;
    max-height: 36px;
    border-radius: 4px;
    border: solid 2px var(--black);
    overflow: hidden;
    margin-right: 1px;
    display:inline-flex;
    flex-direction:row;
    align-items: center;
}

.button-nav:hover {
    border: solid 2px var(--primary);
    cursor: pointer;
}

.button-nav .icon {
    width: 24px;
    height: 24px;
    overflow: hidden;
}

@media only screen and (max-width: 640px) {
    .menu-closed {
        width: var(--width-menu-mobile-closed);
        max-width: var(--width-menu-mobile-closed);
    }

    .menu-open {
        width: var(--width-menu-mobile-open);
        max-width: var(--width-menu-mobile-open);
    }
}