.page-layout {
  width: 100%;
  max-width: 100%;

  height: 100%;
  max-height: 100%;
}

.page-layout .header__container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 300;
}

.page-layout .menu-open,
.page-layout .menu-closed {
  position: absolute;
  top: 0;
  left: 0;
  padding-top: var(--height-header-tot);
  height: 100%;
  z-index: 200;
  border-right: 4px solid var(--primary); 
  background-color: var(--black);
}

.page-layout .main {
  height: 100%;
  width: 100%;
  position: absolute;
  left:0;
  top:0;
  padding-left: var(--width-menu-desktop-closed);
  padding-top: var(--height-header-tot);
  /* Remove x/y, use standard CSS positioning */
}

@media only screen and (max-width: 640px) {
  
}
