.project-item {
    height: fit-content;

    margin: 10px;
    padding: 10px;

    border-radius: 15px;
    overflow: hidden;

    background-color: var(--black);
}

.tab-box .project-item {
    height: fit-content;

    margin: 10px;
    padding: 10px;

    border-radius: 15px;
    overflow: hidden;

    background-color:rgba(0, 0, 0, 0.5);
}

.project-item h4 {
    margin: 0;
    color: var(--white);
}

.project-item:hover {
    background-color: var(--primary-dark-50);
    cursor: pointer;
}