.form-input{
    width: 100%;
    display: inline-flex;
    gap: 1rem;
}

.form-input .label{    
    min-width: 30%;
    margin-top: 0;
    color: var(--white);
}

.form-input .input{
    min-width: 50%;
}

.card-form {
    height: 100%;
    width: 100%;
    gap: 1rem;
    display:flex;
    flex-direction: column;
}

.card-form .form-header {
    margin: 0;
    margin-bottom: 0.5rem;
    color: var(--white);
}

.card-form .form-main {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 1rem;
}

.card-form .form-buttons {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    justify-content: flex-end;
    align-items: flex-end;
}

.pane-form {
    height: 100%;
    width: 100%;
    padding: 1rem;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: min-content 1fr min-content;
    grid-template-areas:
        "top top"
        "middle-left middle-right"
        "bottom bottom";
}

.pane-form .pane-header{
    grid-area: top;
    margin: 0;
    padding: 0;

    margin-top: 1rem;
    margin-bottom: 2rem;
    color: var(--white);
}

.pane-form .pane-main{
    height: auto;

    padding: 0;
    margin: 0;

    grid-area: middle-left;
    padding-right: 1rem;

    overflow: auto;
}

.pane-form .pane-side{
    height: auto;

    padding: 0;
    margin: 0;
    
    grid-area: middle-right;
    padding-left: 1rem;
    border-left: solid var(--secondary) 3px;
}

.pane-form .pane-buttons{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    grid-area: bottom;
    padding-top: 2rem;
    gap: 1rem;
}

.pane-form .pane-side .form-input{
    display: flex;
    flex-direction: column;
    gap: 0;
    margin-bottom: 1.5rem;
}

.pane-form .pane-side .form-input .label{
    margin-bottom: 0.5rem;
}